.font-title {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal
}

.img-city {
  width: 100%;
  height: 800px;
}

.text-justify {
  text-align: justify;
}

.custom-accordion .accordion-item {
  background-color: white; /* Cor de fundo verde */
  color: #002b29; /* Cor do texto */
}

.custom-accordion .accordion-button {
  background-color: #002b29; /* Cor do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Remove a borda padrão */
}

.custom-accordion .accordion-button:hover {
  background-color: #254336; 
}

.custom-accordion .accordion-button::after {
  content: ''; /* Garante que o pseudo-elemento é exibido */
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M1.5 5.5L8 12l6.5-6.5H1.5z"/%3E%3C/svg%3E'); /* Ícone da seta para baixo */
  background-size: 1rem; /* Tamanho do ícone */
  background-repeat: no-repeat; /* Não repetir o ícone */
  background-position: right center; /* Posição do ícone */
}

.banner {
  overflow: hidden; /* Esconde o texto que sai do contêiner */
  white-space: nowrap; /* Impede que o texto quebre a linha */
  width: 100%; /* Largura total do banner */
  max-height: 250px; /* Altura máxima do banner */
  display: flex; /* Permite o alinhamento do texto */
  align-items: center; /* Centraliza verticalmente o texto */
  background-color: rgb(248, 249, 250); /* Cor de fundo do banner */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra do banner */
  border-bottom: 1px solid #dee2e6; /* Borda inferior de 1px sólida */
}

.banner p {
  display: inline-block;
  animation: moveBanner 10s linear infinite; /* Animação */
  font-size: 24px; /* Tamanho da fonte */
  color: #333; /* Cor do texto */
  padding: 10px; /* Espaçamento */
  position: relative; /* Permite o uso do transform */
}

@keyframes moveBanner {
  0% {
      transform: translateX(100%); /* Começa fora da tela à direita */
  }
  100% {
      transform: translateX(-100%); /* Termina fora da tela à esquerda */
  }
}
