*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-title {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal
}

.img-city {
  width: 100%;
  height: 800px;
}

.text-justify {
  text-align: justify;
}

.custom-accordion .accordion-item {
  background-color: white; /* Cor de fundo verde */
  color: #002b29; /* Cor do texto */
}

.custom-accordion .accordion-button {
  background-color: #002b29; /* Cor do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Remove a borda padrão */
}

.custom-accordion .accordion-button:hover {
  background-color: #254336; 
}

.custom-accordion .accordion-button::after {
  content: ''; /* Garante que o pseudo-elemento é exibido */
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M1.5 5.5L8 12l6.5-6.5H1.5z"/%3E%3C/svg%3E'); /* Ícone da seta para baixo */
  background-size: 1rem; /* Tamanho do ícone */
  background-repeat: no-repeat; /* Não repetir o ícone */
  background-position: right center; /* Posição do ícone */
}

.pricing-table{
  box-shadow: 0px 0px 18px #ccc;
  text-align: center;
  padding: 30px 0px;
  border-radius: 5px;
  position: relative;
}

.pricing-table .content .price{
   background:linear-gradient(to right, #cf8504 0%, #f41602 100%);
   width: 90px;
   height: 90px;
   margin: auto;
   line-height: 85px;
   border-radius: 50%;
   border: 5px solid #fff;
   box-shadow: 0px 0px 10px #ccc;
   margin-top: -50px;
    transition: all 0.5s ease;
}

.pricing-table:hover .content .price{
   transform: scale(1.2);
}

.pricing-table .content .price h1_50{
   color:#fff;
   font-size: 30px;
   font-weight: 700;
   font-family: 'Montserrat', sans-serif;
}