body {
  padding-top: 104px;
}
.nav-link {
  font-size: 18px;
}
.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0, .05),
              0 2px 4px 0 rgba(0,0,0, .05);
}
img {
  object-fit: cover;
}
.img-cover {
  width: 600px;
  height: 600px;
}

.title-c2 {
  color: #254336;
}

.btn-cards {
  background-color: #002b29;
  border-color: #002b29;
  color: white;
}

.btn-cards:hover {
  background-color: #254336;
  border-color: #254336;
  color: white;
}

.card-img-top {
  width: 100%; /* Faz a imagem ocupar toda a largura do card */
  height: 400px; /* Define uma altura fixa para as imagens */
}

.icons {
  width: 150px;
  height: 150px;
}

.text-icon {
  color: #002b29;
}

.footer {
  background-color: #f8f9fa;
  padding: 40px 0;
  color: #6c757d;
  border-top: 1px solid #dee2e6;
}
.footer a {
  color: #6c757d;
  text-decoration: none;
}
.footer a:hover {
  color: #254336;
}
.footer .social-icons i {
  color: #002b29;
  font-size: 24px;
  margin-right: 15px;
}
.footer .footer-title {
  color: #254336;
  font-weight: bold;
  margin-bottom: 15px;
}
.footer .footer-bottom {
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #dee2e6;
  color: #6c757d;
}

.icon-footer {
  width: 40px;
  height: 40px;
}

.modal-header {
  background-color:#254336;
  border-bottom: none;
  color: #254336;
}

.modal-header .btn-close {
  filter: invert(1);
  padding: none;
}

.modal-header .btn-close:hover {
  color: white !important;
}

.modal-body {
  border-top: none;
  border-bottom: none;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  color: #254336;
  justify-content: space-between;
  padding: 40px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.modal-body h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-body form {
  margin-top: 20px;
}

.modal-body form input, .modal-body form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-body form input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-body form input[type="submit"]:hover {
  background-color: #3e8e41;
}

.modal-body p {
  font-size: 18px;
  margin-bottom: 20px;
}

.modal-footer {
  border-top: none;
}

#message-text {
  width: 100%;
  height: 150px;
  padding: 20px;
  font-size: 16px;
  border: none;
  border-radius: 0;
  border-bottom:1px solid #ccc;
  resize: none;
}

#message:focus {
  border-color: #aaa;
  box-shadow: none;
}